config/step-functions/TR/netsuite-customer-ar-tr-state-machine.yml
---
stateMachine:
  name: ${self:service}-netsuite-customer-ar-tr-state-machine-${self:provider.stage}
  # events:
  #   - schedule:
  #       rate: cron(0 3 * * ? *) # CST:- 10:00 PM IST:- 08:30 am
  definition:
    Comment: "State machine to update netsuit customer AR TR internal details"
    StartAt: PublishEvents
    States:
      PublishEvents:
        Type: Task
        Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-netsuite-customer-ar-tr-${self:provider.stage}"
        Next: EndChoice
      EndChoice:
        Type: Choice
        Choices:
          - Variable: $.hasMoreData
            StringEquals: "false"
            Next: SuccessState
          - Variable: $.hasMoreData
            StringEquals: "true"
            Next: PublishEvents
      SuccessState:
        Type: Succeed
