config/step-functions/CW_RESTLET_API/netsuite-vendor-ap-cw-state-machine.yml
---
stateMachine:
  name: netsuite-vendor-ap-cw-restlet-state-machine-${self:provider.stage}
  definition:
    Comment: "State machine to update netsuit AP CW Restlet vendor internal details"
    StartAt: PublishEvents
    States:
      PublishEvents:
        Type: Task
        Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-vendor-ap-cw-restlet-${self:provider.stage}"
        Next: EndChoice
      EndChoice:
        Type: Choice
        Choices:
          - Variable: $.hasMoreData
            StringEquals: "false"
            Next: SuccessState
          - Variable: $.hasMoreData
            StringEquals: "true"
            Next: PublishEvents
      SuccessState:
        Type: Succeed
