config/step-functions/WT/netsuite-vendor-ap-wt-state-machine.yml
---
stateMachine:
  name: ${self:service}-netsuite-vendor-ap-wt-state-machine-${self:provider.stage}
  # events:
  #   - schedule:
  #       rate: cron(0 16 * * ? *) # GMT:- 4:00 pm / CST:- 11:00 AM / IST:- 9:30 pm
  #   - schedule:
  #       rate: cron(0 19 * * ? *) # GMT:- 7:00 pm / CST:- 02:00 PM / IST:- 12:30 am
  #   - schedule:
  #       rate: cron(0 21 * * ? *) # GMT:- 9:00 pm / CST:- 04:00 PM / IST:- 02:30 am
  definition:
    Comment: "State machine to update netsuit vendor AP WT internal ids"
    StartAt: PublishEvents
    States:
      PublishEvents:
        Type: Task
        Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-netsuite-vendor-ap-cw-${self:provider.stage}"
        Next: EndChoice
      EndChoice:
        Type: Choice
        Choices:
          - Variable: $.hasMoreData
            StringEquals: "false"
            Next: SuccessState
          - Variable: $.hasMoreData
            StringEquals: "true"
            Next: PublishEvents
      SuccessState:
        Type: Succeed
