config/step-functions/WT/netsuite-customer-ar-wt-state-machine.yml
---
stateMachine:
  name: ${self:service}-netsuite-customer-ar-wt-state-machine-${self:provider.stage}
  events:
    - schedule:
        # rate: cron(0 7 * * ? *) #  UTC:- 7:00 AM / 2:00 am CST
        # rate: cron(30 9 * * ? *) #  UTC:- 9:300 AM / 3:00 pm CST
  definition:
    Comment: "State machine to update netsuit customer AR WT internal details"
    StartAt: PublishEvents
    States:
      PublishEvents:
        Type: Task
        Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-netsuite-customer-ar-wt-${self:provider.stage}"
        Next: EndChoice
      EndChoice:
        Type: Choice
        Choices:
          - Variable: $.hasMoreData
            StringEquals: "false"
            Next: SuccessState
          - Variable: $.hasMoreData
            StringEquals: "true"
            Next: PublishEvents
      SuccessState:
        Type: Succeed
